    /*
    Flaticon icon font: Flaticon
    Creation date: 27/09/2020 10:52
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-book:before { content: "\f100"; }
.flaticon-book-1:before { content: "\f101"; }
.flaticon-books:before { content: "\f102"; }
.flaticon-thought:before { content: "\f103"; }
.flaticon-brain:before { content: "\f104"; }
.flaticon-brain-1:before { content: "\f105"; }
.flaticon-lightbulb:before { content: "\f106"; }
.flaticon-diamond:before { content: "\f107"; }
.flaticon-crown:before { content: "\f108"; }
.flaticon-crown-1:before { content: "\f109"; }
.flaticon-target:before { content: "\f10a"; }
.flaticon-arrow:before { content: "\f10b"; }
.flaticon-mission:before { content: "\f10c"; }
.flaticon-open-magazine:before { content: "\f10d"; }
.flaticon-feather:before { content: "\f10e"; }
.flaticon-feather-1:before { content: "\f10f"; }
    
    $font-Flaticon-book: "\f100";
    $font-Flaticon-book-1: "\f101";
    $font-Flaticon-books: "\f102";
    $font-Flaticon-thought: "\f103";
    $font-Flaticon-brain: "\f104";
    $font-Flaticon-brain-1: "\f105";
    $font-Flaticon-lightbulb: "\f106";
    $font-Flaticon-diamond: "\f107";
    $font-Flaticon-crown: "\f108";
    $font-Flaticon-crown-1: "\f109";
    $font-Flaticon-target: "\f10a";
    $font-Flaticon-arrow: "\f10b";
    $font-Flaticon-mission: "\f10c";
    $font-Flaticon-open-magazine: "\f10d";
    $font-Flaticon-feather: "\f10e";
    $font-Flaticon-feather-1: "\f10f";